.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.title {
  position: absolute;
  top: 15%;
  text-align: start;
  width: 100%;
  padding: 0px 15%;
}

.accents {
  color: var(--element-foreground);
  position: absolute;
  bottom: 21%;
  text-align: end;
  width: 100%;
  padding: 0px 15%;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  line-height: 1.8rem;
  padding: 0 20px 2rem 20px;
}

.content h2 {
  text-align: center;
}

/* Palletes and colors */

.background {
  border-radius: 15px;
  height: fit-content;
  overflow: hidden;
  margin: 70px 3% 30px 3%;
  position: relative;
}

.background > * > .color {
  height: 44vh;
  width: 32vw;
}

.foreground {
  border-radius: 5px;
  height: 50px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  /* z-index: 3; */
  margin: auto;
  position: absolute;
  bottom: 20%;
  left: 19%;
}

.foreground > * > .color {
  height: 15px;
  width: 20vw;
}

.pallete {
  border-radius: 0.5em;
  height: 50px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pallete > .row {
  width: 80vw;
  height: 160px;
  max-width: 400px;
}

.pallete > * > .color {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.auxiliar {
  height: 50px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  margin: auto;
  position: absolute;
  bottom: 3%;
  left: 1%;
}

.auxiliar > * > .color {
  margin: 10px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

* > .label {
  font-size: 0.875em;
  width: 100%;
  text-align: center;
  margin: 0;
  background-color: var(--background-dark);
  color: white;
  padding: 8px;
}

.card {
  width: fit-content;
  height: fit-content;
  margin: 30px 3vw;
}

.card > h3 {
  text-align: center;
  margin: 10px;
}
