.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.card img {
  width: 20%;
  border-radius: 1rem;
  padding: 4% 4% 4% 0;
}

.card > .top {
  width: 100%;
  margin: 5px;
}

.card .icon {
  padding: 4% 6% 4% 0%;
  filter: invert(83%) sepia(95%) saturate(4281%) hue-rotate(81deg)
    brightness(99%) contrast(106%);
}
