.primary > img,
.secondary > img {
    margin-right: 10px;
    transition: filter 0.2s ease;
}

.primary,
.secondary {
    padding: 22px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: color 0.15s ease, background-color 0.15s ease,
        box-shadow 0.2s ease;
    max-width: 80%;
}

.primary {
    color: var(--element-foreground);
    background-color: var(--element-background);
}

.primary:hover,
.primary:focus,
.primary:active {
    color: var(--element-background);
    background-color: var(--element-foreground);
}

.primary > img {
filter: invert(83%) sepia(95%) saturate(4281%) hue-rotate(81deg)
    brightness(99%) contrast(106%);
}

.primary:hover > img {
filter: invert(8%) sepia(79%) saturate(6545%) hue-rotate(322deg)
    brightness(86%) contrast(103%);
}

.secondary {
    background-color: var(--secondary-foreground);
    color: var(--background-darker);
}

.secondary:hover,
.secondary:focus,
.secondary:active {
    color: var(--secondary-foreground);
    background-color: var(--background-darker); 
}

.secondary > img {
filter: invert(4%) sepia(47%) saturate(7123%) hue-rotate(274deg)
    brightness(109%) contrast(113%);
}

.secondary:hover > img {
filter: invert(68%) sepia(24%) saturate(2656%) hue-rotate(210deg)
    brightness(103%) contrast(101%);
}
