.primary,
.secondary {
  padding-bottom: 14rem;
}

.primary {
  background: linear-gradient(
    0deg,
    var(--element-background),
    var(--background-darker) 40%
  );
}

.secondary {
  background: linear-gradient(
    0deg,
    var(--secondary-foreground) -50%,
    var(--background-darker) 40%
  );
}

.footer {
  background-color: var(--background-darker);
  padding-top: 5rem;
  height: 300px;
  border-top: 1px dashed var(--element-background);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--secondary-foreground);
  text-align: center;
  position: relative;
  z-index: 4;
}

.footer a {
  color: var(--element-foreground);
}

.footer p {
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
