.background {
  padding-bottom: 7rem;
  background-color: var(--background-darker);
}

.footer {
  background-color: var(--background-darker);
  padding-top: 5rem;
  width: 100%;
  height: 200px;
  border-top: 1px dashed var(--element-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-foreground);
  text-align: center;
  position: relative;
  z-index: 4;
}

.footer a {
  color: var(--element-foreground);
}

.footer p {
  margin: 1rem 0;
}
