@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --primary-background: #282a36;
  --secondary-background: #240041;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #240041;
  color: #ff0e82;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  background: #19002e;
  color: #c79bff;
  border-radius: 5px;
  padding: 0.15rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(199, 155, 255, 0.4);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(199, 155, 255, 1);
}
body::-webkit-scrollbar-thumb:active {
  background: rgba(0, 255, 183, 0.6);
}
