.icon {
  width: 150px;
  height: 150px;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 44%;
  min-width: 500px;
  height: 85vh;
}

.title a {
  color: var(--blue);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.description {
  display: inline;
  margin: 30px 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: var(--secondary-foreground);
  max-width: 75%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--background-darker);
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 4%;
  position: relative;
  z-index: 4;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  background: linear-gradient(
    180deg,
    var(--element-background),
    var(--background-darker) 70%
  );
}

.main h3 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: var(--secondary-foreground);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  width: fit-content;
}

@media (max-width: 1250px) {
  .icon {
    width: 180px;
    height: 180px;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1.3rem;
  }
  .main {
    flex-direction: column;
  }
  .head {
    height: 80vh;
    width: 100vw;
    min-width: unset;
    align-items: center;
  }
  .main {
    background: linear-gradient(
      180deg,
      var(--element-background),
      var(--background-darker) 40%
    );
  }
}
