.icon {
  border-radius: 2rem;
  border: 3px solid var(--element-foreground);
  margin-bottom: 40px;
  width: 220px;
  height: 220px;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44%;
  min-width: 500px;
  height: 85vh;
}

.title a {
  color: var(--blue);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  display: inline;
  margin: 30px auto;
  line-height: 1.5;
  font-size: 1.5rem;
  color: var(--secondary-foreground);
  max-width: 75%;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--background-darker);
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 4%;
  position: relative;
  z-index: 4;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  background: linear-gradient(
    180deg,
    var(--element-background),
    var(--background-darker) 70%
  );
}

.down {
  width: 100%;
  filter: invert(83%) sepia(95%) saturate(4281%) hue-rotate(81deg)
    brightness(99%) contrast(106%);
  text-align: center;
}

.slider {
  width: 50%;
}

.preview {
  --spread: 0px;
  --x: -20px;
  --y: 20px;
  --blur: 1px;
  --color-one: var(--pink);
  --color-two: var(--green);
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  color: #fff;
  box-shadow: var(--x) var(--y) var(--blur) var(--spread) var(--color-one),
    calc(var(--x) * -1) calc(var(--y) * -1) var(--blur) var(--spread)
      var(--color-two);
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 40px 0 75px 0;
}

.preview img {
  border-radius: 5px;
  width: 50vw;
  z-index: 2;
}

.main h3 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: var(--secondary-foreground);
}

@media (max-width: 1250px) {
  .icon {
    width: 180px;
    height: 180px;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1.3rem;
  }
  .main {
    flex-direction: column;
  }
  .head {
    height: 100vh;
    width: 100vw;
    min-width: unset;
  }
  .preview {
    --x: -6px;
    --y: 9px;
    border-radius: 3px;
  }
  .preview img {
    border-radius: 3px;
    width: 90vw;
  }
  .main {
    background: linear-gradient(
      180deg,
      var(--element-background),
      var(--background-darker) 40%
    );
  }
}
