.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.description {
  margin: 30px auto;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #c79bff;
  max-width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card,
.fab {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, background-color 0.15s ease,
    box-shadow 0.2s ease;
  color: #00ffb7;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  border: 2px solid #00ffb7;
  background-color: #900048;
  text-align: left;
  border-radius: 10px;
  width: 40%;
}

.fab {
  background-color: #900048;
  border: 2px solid #00ffb7;
  text-shadow: 0 0 40px #00ffb7;
  text-align: center;
  border-radius: 50%;
  height: 66px;
  width: 66px;
  padding: 22px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  position: fixed;
  display: flex;
  font-size: larger;
}

@media (min-width: 601px) {
  .fab {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #900048;
  background-color: #00ffb7;
}

.fab:hover,
.fab:focus,
.fab:active {
  background-color: #00ffb7;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.sectionIcon {
  background: #c79bff;
  color: #19002e;
  border-radius: 5px;
  padding: 0.15rem;
  margin-right: 15px;
}

.instructions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 840px;
  padding: 0 2rem;
}
@media (max-width: 840px) {
  .instructions {
    width: auto;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
  .fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}
