.description {
  margin: 30px auto;
  line-height: 1.5;
  font-size: 1.5rem;
  color: var(--secondary-foreground);
  max-width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding: 0 16px 2rem 16px;
}

.instructions a {
  color: var(--element-foreground);
  text-decoration: none;
  line-break: anywhere;
}

.instructions a:hover {
  text-decoration: underline;
}

.instructions-content {
  padding-bottom: 2rem;
}

.sectionIcon {
  background: var(--secondary-foreground);
  color: var(--background-darker);
  border-radius: 5px;
  padding: 0.15rem;
  margin-right: 15px;
  height: 30px;
  width: 30px;
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1.5rem;
  background-color: var(--element-background);
  border-radius: 10px;
  max-width: 840px;
  text-align: center;
  color: var(--element-foreground);
  font-weight: 700;
  transition: color 0.15s ease, background-color 0.15s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
}

.button img {
  filter: invert(83%) sepia(95%) saturate(4281%) hue-rotate(81deg) brightness(99%) contrast(106%);
  margin-right: 10px;
  transition: filter 0.2s ease;
}

.button:hover {
  color: var(--element-background);
  background-color: var(--element-foreground);
}

.button:hover img {
  filter: invert(8%) sepia(79%) saturate(6545%) hue-rotate(322deg) brightness(86%) contrast(103%);
}

.asset {
  background: var(--background-darker);
  color: var(--secondary-foreground);
  border-radius: 15px 15px 0 0;
  padding: 0.8rem;
  width: fit-content;
  margin: auto;
}