.fab {
  background-color: var(--element-background);
  border: 2px solid var(--element-foreground);
  text-shadow: 0 0 40px var(--element-foreground);
  text-align: center;
  border-radius: 50%;
  height: 66px;
  width: 66px;
  padding: 22px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  position: fixed;
  display: flex;
  font-size: larger;
  z-index: 3;
}

@media (max-width: 600px) {
  .fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

@media (min-width: 601px) {
  .fab {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
}

.fab:hover,
.fab:focus,
.fab:active {
  background-color: var(--element-foreground);
}

.description {
  margin: 30px auto;
  line-height: 1.5;
  font-size: 1.5rem;
  color: var(--secondary-foreground);
  max-width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding: 0 2rem 2rem 2rem;
}

.instructions-content {
  padding-bottom: 2rem;
}

.sectionIcon {
  background: var(--secondary-foreground);
  color: var(--background-darker);
  border-radius: 5px;
  padding: 0.15rem;
  margin-right: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1.5rem;
  border: 2px solid var(--element-foreground);
  background-color: var(--element-background);
  border-radius: 10px;
  max-width: 840px;
  text-align: center;
  color: var(--element-foreground);
  font-weight: 700;
  transition: color 0.15s ease, background-color 0.15s ease,
    box-shadow 0.2s ease;
}

.button img {
  filter: invert(83%) sepia(95%) saturate(4281%) hue-rotate(81deg)
    brightness(99%) contrast(106%);
  margin-right: 10px;
  transition: filter 0.2s ease;
}

.button:hover {
  color: var(--element-background);
  background-color: var(--element-foreground);
}

.button:hover img {
  filter: invert(8%) sepia(79%) saturate(6545%) hue-rotate(322deg)
    brightness(86%) contrast(103%);
}
