.slider-wrapper img {
  max-width: 100%;
  vertical-align: middle;
}

.trigger {
  display: none;
}

.slider,
.slider-wrapper {
  position: relative;
  height: 350px;
  width: 100vw;
}

.slide {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide figcaption {
  height: 25%;
}

.slide-img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.slide-figure {
  height: fit-content;
  position: relative;
  margin: 0;
}

.slide-caption {
  position: absolute;
  top: 10%;
  text-align: left;
  color: var(--secondary-foreground);
  width: 60%;
  line-height: 2rem;
  z-index: 1;
  margin-left: 20px;
}

.trigger:checked + .slide {
  z-index: 6000;
  opacity: 1;
}

.slider-nav {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  padding: 0px;
  vertical-align: middle;
}

.slider-nav__item::before {
  display: none;
}

.slider-nav__item {
  display: inline-block;
  margin: 5px;
}

.slider-nav__label {
  font-size: 13px;
  background-color: var(--background-dark);
  color: var(--secondary-foreground);
  border: 3px solid;
  display: block;
  height: 1.5em;
  width: 1.5em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s ease-in-out;
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus {
  background-color: var(--secondary-foreground);
}

@media only screen and (min-width: 1024px) {
  .slider,
  .slider-wrapper {
    height: 65vh;
    width: 50vw;
  }

  .slide-caption {
    font-size: 1.17rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .slider,
  .slider-wrapper {
    height: 360px;
  }

  .slide-caption {
    width: 75%;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .slide-img {
    width: 100%;
    height: auto;
  }
}
